<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guess The Number Game</title>
</head>
<body>
  <div align="center">
    <h1>Guess The Number Game</h1>
    <h2>Game Over</h2>
    <h3 th:text="${resultMessage}">Game Result Message</h3>
    <h3>
      <a href="restart">Play Again</a>
    </h3>
    <h3>
      <a href="/">Home</a>
    </h3>
    <footer>
      <p>Create by Stewart</p>
    </footer>
  </div>
</body>
</html>